* {
    box-sizing: border-box;
  }

/* NAVIGATIE */

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
nav li {
    flex: 1 1 100px;
    text-align: center;
}
  
nav li.logo {
    background: tomato;
    flex: 1 0 100px;
}

/* PHOTOS */
  
section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
  
section div {
    padding: 5px;
    flex: 1 0 25%;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
    .typography {
        order: 1;
    }
    .ui {
        order: 2;
    }
    nav ul li.logo {
        order: 3;
    }
    .branding {
        order: 4;
    }
    .graffiti {
        order: 5;
    }
}