* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
  }

img {
    max-width: 100%;;
}
  
body {
    background-image: url("images/bg-image.png");
    font-family: 'Lato', sans-serif;
}

h1, h2, p.uppercase {
    text-transform: uppercase;
}

.ticket {
    background-color:white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    margin: 50px;
    align-items: center;
}

header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
}

.subheader {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
}

aside {
    grid-row: 1 / span 4;
    grid-column: 4 / span 1;
    align-items: center;
}

footer {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
    align-items: center;
}